<div>
    <MatTextField @bind-Value="StartRecord" Label="Start record"></MatTextField>
    <MatTextField @bind-Value="CountRecords" Label="Count records"></MatTextField>
</div>
<MatButton Raised="true" @onclick="DownloadFileAsync">Download records</MatButton>
